* text=auto !eol
/adaptive-images-actions.php -text
/adaptive-images-admin.php -text
/adaptive-images-debug.php -text
/adaptive-images-front.php -text
/adaptive-images-init.php -text
/adaptive-images-plugin.php -text
/adaptive-images-script.php -text
/adaptive-images-upgrade.php -text
/adaptive-images.php -text
adaptive-images/ai-cookie.php -text
adaptive-images/ai-main.php -text
adaptive-images/ai-user-settings.php -text
adaptive-images/readme-too.txt -text
/index.php -text
/license-gpl.txt -text
/readme.txt -text
/todo.txt -text
/uninstall.php -text
/user-settings.php -text
